/* body {
  box-sizing: border-box;
} */
.homepage {
  background: #000;

}

.homepage .static_frame {
  width: 100%;
  background-color: #04070a;
}

.homepage .static_frame_static_frame {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.homepage .static_img_left {
  width: 65px;
  height: 65px;
  background: url("/public/icons/delivery.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage .static_img_middle {
  width: 65px;
  height: 65px;
  background: url("/public/icons/support.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .homepage .static_img_middle1 {
  width: 65px;
  height: 65px;
  background: url("/public/icons/f-icon-2.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.homepage .static_img_right {
  width: 65px;
  height: 65px;
  background: url("/public/icons/card_security.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.static_frame .static_width {
  width: 1330px;
}


.homepage .static_box {
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homepage .static_box .static_num {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;

}

.homepage .static_box .static_num1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  margin-left: 15px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;

}

.static_box .static_text {
  margin: 10px;
}

.homepage .static_box .static_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 10px;
  text-align: center;
  color: #a7a7a7;
}

/* start popular coffeeshops */

.homepage .popular_shop_frame {
  width: 100%;
  height: 605px;
  display: flex;
  background: #000;
}

.homepage .category_title_shop {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
}

.popular_card {
  height: auto;
  width: 320px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 40px;
  z-index: 1;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);

}


/* @keyframes moveUp {
  from {
      transform: translateY(0);
  }

  to {
      transform: translateY(-10px);
  }
} */

.popular_card:hover {
  animation: moveUp 0.3s ease-in-out forwards;
}

.homepage .best_restaurant_frame {
  width: 100%;
  height: 700px;
  display: flex;
  background: #000;
}

.swiper-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .restaurant_box {
  margin-right: 13px;
  margin-left: 13px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

@keyframes moveUp {
  from {
      transform: translateY(0);
  }

  to {
      transform: translateY(-10px);
  }
}


.homepage .restaurant_box .restaurant_img {
  position: relative;
  width: 400px;
  height: 220px;
  background-size: cover;
  display: flex;
  flex-direction: column;

}



.homepage .best_dishes_frame {
  width: 100%;
  justify-content: center;
  background: linear-gradient(90deg, );
  background: cover;
  
}

.menu-frame {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 20px; */
  
}

.homepage .dish_box {
  width: 500px;
  border: 1px solid #32323D;
  margin: 10px;
    position: relative;
    padding-left: 80px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 30px;
    margin-left: 90px;
    cursor: pointer;
}

.homepage .dish_box::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: #32323D;
  left: 0;
  top: 0;
  transition: .5s ease;
  z-index: 1;
  
}

.homepage .dish_box:hover::after {
  width: 100%;
 
}



/* TRENDAGI OVQATLAR RASMI*/
.homepage .dish_box .dish_img {
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  left: -40px;
  z-index: 2;
  border-radius: 50%;
}


.homepage .view_btn {
  width: 163px;
  height: 50px;
  /* margin-left: 250px; */
  left: -40px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(28, 23, 23, 0.59);
  border: 2px solid #c7a17a;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

.homepage .dish_img:hover .view_btn {
  opacity: 1;
}
/* CHICKEN MAYO CONTAINER */
.homepage .dish_box .dish_desc {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* CHICKEN MAYO TITLE */
.homepage .dish_desc .dish_title_text {

  z-index: 5;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
/* CHICKEN MAYO 11 $ */
.homepage .dish_desc .dish_desc_text {
  /* margin-top: 15px; */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #c7a17a;
  z-index: 6;
}

.homepage .ads_coffeeshop_frame {
  width: 100%;
  /* height: 800px; */
  display: flex;
  overflow: hidden;
  /* margin-top: 186px; */
  /* background-color: #956dd3; */
}
.homepage .ads_video {
  width: 100%;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgb(215 215 255);
  transform: scale(1.5);
  overflow: hidden;
}

.homepage .events_frame {
  margin-top: 75px;
  width: 100%;
  height: 700px;
  display: flex;
  overflow: hidden;
}

/* events css begin */

.homepage .events_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.homepage .events_main .events_text {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.homepage .events_main .prev_next_frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 24px;
  margin-left: 901px;
  margin-top: 19px;
}


.homepage .dot_frame_pagination {
  position: relative;
  width: auto;
  display: flex;

}

.homepage .events_main .events_info {
  margin-top: 75px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events_info .events_info_frame {
  position: relative;
  width: 579px;
  height: 447px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events_img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
}


.homepage .events_desc {
  position: absolute;
  padding: 10px;
  display: flex;
  width: 90%;
  height: auto;
  bottom: 5px;
  background: #ffffff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
}

.homepage .events_desc .events_bott {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .events_desc .events_bott .bott_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .bott_left .event_title_speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .event_title_speaker .event_organizator {
  display: flex;
  align-items: center;
}

.homepage .event_organizator .spec_text_author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140342;
}

.homepage .bott_left .text_desc {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
}

.homepage .bott_left .bott_info {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 16px;
}

.homepage .bott_info .bott_info_main {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: 100%;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}


/* infoProduct page start css */



.homepage .category_title_shop {

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 30px; */
  line-height: 37px;
  margin-bottom: 40px;
  margin-top: 70px;

  /* color: #222222; */
}

.homepage .swiper-width {
  height: 400px;
  width: 800px;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

.prev_next_frame1 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex;
  width: 250px;
  height: 24px;
  margin-bottom: 20px;
}

.homepage .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #ffffff;
  border-radius: 50%;
}

.homepage .swiper-pagination {
  background: #007bff;
  border-radius: 50%;
}

.homepage .dot_frame_pagination {
  position: relative;
  width: auto;
  display: flex;
}

.card_style {
  justify-content: flex-start;
  position: absolute;
  top: 20px;
}


h1 {
  color: #ffffff;
  background: #C7A17A;
  font-family: "Jost", sans-serif;
  display: inline-block;
  font-size: 12px;
  width: 110px;
  text-transform: uppercase;
  padding: 1.5px 13px;
  letter-spacing: 2px;
  border-radius: 3px;
  line-height: 22px;
  margin-bottom: 23px;
}

.text_desc {
  margin-bottom: 15px;
  color: #a7a7a7;
}

.heading_title {
  color: #ffffff;
  font-size: 33px;
  line-height: 38px;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
}

p {
  display: inline-block;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  color: white;
}

.card:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}





/* end page */

.homepage .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #ffffff;
  border-radius: 50%;
}

.homepage .swiper-pagination-bullet-active {
  background: #007aff;
  border-radius: 50%;
}

/* RECOMMENDATION CSS */

.homepage .top_article_frame {
  width: 100%;
  height: auto;
  display: flex;
  /* background: url("/public/home/beans.jpeg"); */
  background-size: cover;
}

.homepage .article_main {
  margin-top: 32px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage .article_main .article_container {
  width: 568px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .article_main .article_category {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 44px;
  color: #FFFFFF;
}

.homepage .article_container .article_box {
  margin-top: 18px;
  width: 100%;
  height: auto;
  display: flex;
  border: 1px solid #FFF;
  border-radius: 10px;
  flex-direction: row;
  background: #fff;
  box-shadow: 0px 4px 40px rgba(207, 207, 207, 0.337);
  cursor: pointer;
}

.homepage .article_container .article_box:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}


.homepage .article_box .article_img {
  width: 150px;
  height: auto;
  border-radius: 0px;
  background-size: cover;
  object-fit: contain;
  border-radius: 10px 0 0 10px;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF
}

.homepage .article_box .article_info {
  padding: 10px 0px;
  width: 420px;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;

}

.homepage .article_info .article_main_info {
  width: 95%;
  height: 95%;
}

.homepage .article_main_info .article_author {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage .article_author .author_username {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.homepage .article_main_info .article_title {
  margin-top: 18px;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.homepage .article_main_info .article_desc {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #808080;
}

/* START WEATHER COMPONENT */

.custom-container {
  display: flex;
  justify-content: center;
  border: 1px solid;
  align-items: center;
  height: 500px;
  margin-top: 50px;
  width: 1330px;
  border-radius: 10px 10px;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  font-size: 120%;

}

.top_coffeeshop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-weather {
  background: rgba(230, 234, 233, 1);
  /* color: white; */
  padding: 2em;
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
}

.search {
  display: flex; 
  align-items: center;
  justify-content: center;

}

.button {
  flex-direction: column;
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  padding: 7px;
  background-color: #3025252b;;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  

}

button:hover {
  background: #7c7c7c7b;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.3em 1em;
  border-radius: 24px;
  background-color: #FFFFFF;
  color: #000000d0;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  display: flex; 
  align-items: center;
  justify-content: center;

}

h1.temperature {
  margin: 0;
  margin-bottom: 0.4em;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}


.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
  
}

.weather .loading::after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;

}

.title_weather {
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 30px; */
  line-height: 37px;
  margin-top: 70px;
}


/* InfoProduct new */

.homepage .best_dishes {
  width: 100%;
  justify-content: center;
}

.menu {
    display: flex;
    /* padding-left: 20px; */
  
}

.homepage .product_box {
  width: 500px;
  height: 250px;
  border: 1px solid #32323D;
  position: relative;
}

/* TRENDAGI OVQATLAR RASMI*/
.homepage .product_box .product_img {
  width: 500px;
  height: 500px;
  position: absolute;
  background-size: cover;
}
/* NORMAL SIZE BELGISI */
.homepage .dish_sale {
  color: #fff;
  position: absolute;
  top: 40px;
  background: #32323D;
  padding: 2px 25px;
  border: 1px #c7a17a solid;
  border-radius: 15px;
  z-index: 10;


}

.homepage .view_btn {
  width: 163px;
  height: 50px;
  /* margin-left: 250px; */
  left: -40px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(28, 23, 23, 0.59);
  border: 2px solid #c7a17a;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

.homepage .dish_img:hover .view_btn {
  opacity: 1;
}
/* CHICKEN MAYO CONTAINER */
.homepage .dish_box .dish_desc {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* CHICKEN MAYO TITLE */
.homepage .dish_desc .dish_title_text {

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
/* CHICKEN MAYO 11 $ */
.homepage .dish_desc .dish_desc_text {
  /* margin-top: 15px; */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #c7a17a;
  display: flex;
  align-items: center;
}

.homepage .ads_coffeeshop_frame {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.homepage .ads_video {
  width: 100%;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgb(215 215 255);
  transform: scale(1.5);
  overflow: hidden;
}


.machine_box {
  width: 100%;
  display: flex;
  height: 50vh;
}

.machine_box .machine_right,
.machine_box .machine_left
 {
  width: 50%;
  height: 100%;
  padding: 15px;
  position: relative;
}

.machine_box .machine_right img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.machine_box .machine_right .call_model {
  color: #fff;
  width: 40px;
  height: 40px;
  background: #C7A17A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.3rem;
  position: absolute;
  top: 80px;
  right: 150px;
  cursor: pointer;
  transition: .5s ease;
  transform: rotate(0);
}

.machine_box .machine_right .call_model:hover {
  transform: rotate(360deg);
  background: #fff;
  color: #333;
}


.machine_left_title {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5rem;
}




.machine_box .machine_left Button {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  background: #C7A17A;
  padding: 9.5px 34px;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-weight: 500;
}


.machine_modal {
  width: 70vw;
  min-height: 30vh;
  background: #dfdfdf;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  
}

.machine_modal .machine_left .machine_left_title, 
.machine_modal .machine_left .machine_left_p{
  color: #222;
}

.machine_modal .machine_left .machine_left_p {
  font-size: 16px;
  color: #555;
  width: 500px;
}

.machine_modal Button {
  background: #000;
  width: 50px;
  height: 35px;
  color: #fff;
  font-size: 1.5rem;
  
}


.quite_btn {
  position: absolute;
  left: 93%;
  top: 10px;
  cursor: pointer;
  background: #000;
  width: 50px;
  height: 35px;
  color: #fff;
  font-size: 1.5rem;
  
}

.quite_btn span {
  transform: rotate(45deg);
}


.machine_modal .machine_left Button {
  width: 40%;
  height: auto;
  background: #C7A17A;
  border: none;
}

.machine_left_btn::after {
  background: #32323D;
  width: 0%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  /* Use the CSS 'transform' property to rotate the element */
  transform: rotate(180deg);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.machine_left_btn:hover::after {
  /* Set the width to 100% to complete the rotation */
  width: 100%;
}