.restaurant_page {
  position: relative;
  width: 100%;
  height: auto;
  background: #000;
}
/* ALL RESTAURANT  */
.title_shop {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 37px;
  margin-top: 50px;
  color: #FFFFFF;
}
.restaurant_page .all_restaurant .fill_search_box {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.restaurant_page .all_restaurant .fill_box {
  position: relative;
  width: 420px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #13131A;
  border-radius: 25px;
  padding: 0 25px;
}

.restaurant_page .all_restaurant .fill_box a {
  position: relative;

  display: flex;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.restaurant_page .all_restaurant .fill_box a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.restaurant_page .all_restaurant .fill_box a::before,
.fill_box a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

.restaurant_page .all_restaurant .fill_box a::before {
  background-color: #d7b686;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.restaurant_page .all_restaurant .fill_box a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #d7b686;
}

.restaurant_page .all_restaurant .fill_box a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.restaurant_page .all_restaurant .fill_box a:hover::after {
  transform: translate3d(0, 0, 0);
}

.restaurant_page .all_restaurant .fill_box a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.restaurant_page .all_restaurant .fill_box a:hover span {
  transform: translate3d(-200%, 0, 0);
}

.restaurant_page .all_restaurant .fill_box a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  vertical-align: top;
}

.restaurant_page .all_restaurant .search_big_box {
  position: relative;
  width: 360px;
  height: 33px;

  display: flex;
  align-items: center;
  background: #fffcfc;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.25);
  border-radius: 18.5px;
  box-sizing: border-box;
}

.restaurant_page .all_restaurant .search_form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.restaurant_page .all_restaurant .searchInput {
  position: relative;
  width: 245px;
  height: 29px;
  margin-left: 10px;

  display: flex;
  border: none;
  border-radius: 10px 0px 0px 10px;
  font-family: "GT Walsheim Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
  outline: none;
}


.restaurant_page .all_restaurant .button_search {
  position: relative;
  width: 100px;
  height: 33px;
  display: flex;

  border-radius: 18.5px;
  background: #d7b686;
}

.restaurant_page .all_restaurant .all_res_box {
  position: relative;
  width: 1320px;
  height: auto;
  margin-top: 70px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* NEW ALL_RESTAURANT_BOX */

.restaurant_page .all_restaurant .allrestaurant_box {
  margin: 13px;
  padding: 5px;
  width: 405px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.restaurant_page .all_restaurant .allrestaurant_img {
  width: 405px;
  height: 300px;

  border-radius: 5px;
  background-size: cover;
}

/* NEW ALL_RESTAURANT_BOX END */

.restaurant_page .single_res {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #000;

}

.restaurant_page .single_res .avatar_big_box {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.restaurant_page .single_res .top_text {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant_page .single_res .top_text p {
  position: relative;
  font-family: "Dancing Script", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin-top: 70px;
  color: #ffffff;
}

.restaurant_page .single_res .Single_search_big_box {
  position: relative;
  width: 50%;
  /* line-height: 50px; */
  /* padding: 10px; */
  height: auto;
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 18.5px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.restaurant_page .single_res .Single_search_form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.restaurant_page .single_res .Single_searchInput {
  position: relative;
  width: 600px;
  height: 40px;
  padding-left: 15px;
  display: flex;
  border: none;
  /* border-radius: 18.5px; */
  font-family: "GT Walsheim Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
  font-weight: 500;
  /* font-style: italic; */
  flex-direction: column;
  border-radius: 20px;
}

.restaurant_page .single_res .Single_button_search {
  position: relative;
  width: 125px;
  height: 40px;
  display: flex;

  border-radius: 18.5px;
  background: #f8be69;
}


.search_title {
  color: #1f1f1f;
  font-size: 25px;
  font-weight: 500;
}


.filter_cont{

  display: flex;
  z-index: 5;
  position: absolute;
  right: 7vw;
  top: 185px;

}
.dropbtn {
  height: 40px;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  margin-right: 1vw;
  width: 80px;
  cursor: pointer;
  color: rgb(0 0 0);
  opacity: 1;
  background-color: rgb(215, 182, 134);
}


.drop_down {
  position: relative;
  display: inline-block;
  color: #1f1f1f;
  cursor: pointer;
}

.drop_down_content {
  display: none;
  position: absolute;
  bottom: -300%;
  background-color: #d7d7d8;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}


.drop_down_content a {
  color: #1f1f1f;
  padding: 9px 10px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.drop_down_content a:hover {
  background-color: #ddd;
      border-radius: 10px;
}


.drop_down:hover .drop_down_content {
  display: block;
      border-radius: 10px;
}

.drop_down:hover .dropbtn {
  background-color: #e3c08d;
      border-radius: 10px;
}


.dropbtn_right {
  padding: 10px 15px;
  font-size: 17px;
  border: none;
  border-radius: 12px;
  height: 40px;
  width: 84px;
  margin-right: 1vw;
  cursor: pointer;
  color: rgb(0 0 0);
  opacity: 1;
  background-color: rgb(215, 182, 134);
}


.drop_down_right {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  color: #1f1f1f;
  
}


.checkbox_list {
  margin: 0px 5px;
  cursor: pointer;
}

.checkbox_list .checkbox_list_input {
  cursor: pointer;
}
.drop_down_cont_right {
  display: none;
  position: absolute;
  bottom: -405%;
  background-color: #d7d7d8;
  width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  cursor: pointer;

}


.drop_down_cont_right a {
  color: #1f1f1f;
  padding: 9px 10px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.drop_down_cont_right a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

/* Show the dropup menu on hover */
.drop_down_right:hover .drop_down_cont_right {
  display: block;
  border-radius: 10px;
}

/* Change the background color of the dropup button when the dropup content is shown */
.drop_down_right:hover .dropbtn_right {
  background-color: #e3c08d;
  border-radius: 10px;
}
.restaurant_page .single_res .prev_btn,
.single_res .next_btn {
  width: 10%;
  height: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant_page .single_res .shop_avatars_wrapper {
  width: 90%;
  height: 147px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.restaurant_page .single_res .shop_avatars_wrapper .shop_avatars {
  width: 108px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.shop_avatars:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
     
}
.restaurant_page .single_res .shop_avatars img {
  width: 100px;
  height: 100px;

  border-radius: 20%;
}

.restaurant_page .single_res .shop_avatars span {
  margin-top: 20px;
  font-family: "Solway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  color: #ffffff;
}

.restaurant_page .single_res .product_wrapper {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15%;
}

.restaurant_page .single_res .product_box {
  margin-top: 50px;
  margin-right: 15px;
  margin-left: 15px;
  width: 290px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #13131A;
  margin-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 4px 40px rgba(241, 233, 233, 0.406);
  cursor: pointer;
}

.restaurant_page .single_res .product_box .product_img {
  position: relative;
  width: 290px;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px;
}


.restaurant_page .single_res .product_box .product_desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.restaurant_page .single_res .product_desc .product_title_text {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.restaurant_page .single_res .product_desc .product_country_text {
  margin-top: 10px;
  color: #1f1f1f;
}

.restaurant_page .single_res .product_desc .product_color_text {
  margin-top: 5px;
  color: #1f1f1f;
}

.restaurant_page .single_res .product_desc .product_price_text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #c7a17a;

}


.restaurant_page .single_res .product_img:before {
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-radius: 10px 10px 0px 0px;
}

/* .restaurant_page .single_res .product_img:hover:before {
  border-radius: 10px 10px 0px 0px;
  opacity: 1;
} */

.restaurant_page .single_res .product_img img {
  position: absolute;
  display: block;
  max-width: 100%;
  height: 30px;
  z-index: 1;
}
/* Korzinka korinishi */

.restaurant_page .single_res .view_btn {
  position: absolute;
  padding: 20px;

  top: 12px;
  width: 40px;
  left: 112px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
  /* border-radius: 10px; */

  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
}

.restaurant_page .single_res .product_img:hover .view_btn {
  opacity: 1;
}

.restaurant_page .single_res .like_view_btn {
  position: absolute;
  top: 12px;
  padding: 5px;
  min-width: 40px;
  width: 50px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
}

.restaurant_page .single_res .product_img:hover .like_view_btn {
  opacity: 1;
}


.other_shop_see {
  position: relative;
  font-family: "Dancing Script", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #FFFFFF;
  margin-top: 100px;

}

.restaurant_page .single_res .member_reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 60px;
}



.restaurant_page .single_res .category_title {
  font-family: "Dancing Script",
      sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #1f1f1f;
}





.restaurant_page .single_res .swiper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/** CHOSEN DISH PAGE START */

.restaurant_page .chosen_dish_page {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  background: #000;
}

.chosen_dish_page .dish_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.chosen_dish_page .chosen_dish_slider {
  width: 48%;
  height: 581px;
}

.chosen_dish_page .dish_swiper {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.chosen_dish_page .chosen_dish_info_container {
  padding: 30px 40px;
  width: 49%;
  height: 452px;
  display: flex;
  background: transparent;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.chosen_dish_page .chosen_dish_info_container .chosen_dish_info_box {
  /*margin-top: 30px;*/
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.chosen_dish_page .chosen_dish_info_box .dish_txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.chosen_dish_page .chosen_dish_info_box .resto_name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.chosen_dish_page .chosen_dish_info_box .rating_box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  
}

.chosen_dish_page .rating_box .evaluation_box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #fff;
}

.chosen_dish_page .rating_box .star_box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}


/* TITLES OF PAGE */
.chosen_dish_page .chosen_dish_info_box .dish_desc_info {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.chosen_dish_page .chosen_dish_info_box .dish_price_box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.chosen_dish_page .dish_price_box span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #fff;
}

.chosen_dish_page .button_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}

.chosen_dish_page .button_box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}


.hover_box {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  opacity: 0;
  
}

.hover_box div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b4b4b4a9;
  position: relative;
}

.hover_box div:hover {
  background: #b4b4b4e4;
}

.hover_box div span {
  position: absolute;
  top: -7px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: blue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}

.allrestaurant_box:hover .hover_box {
  opacity: 1;
}








.cafe_info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(0deg, #33333300, rgb(0, 0, 0));
  color: #fff;

}

.cafe_info div {
  display: flex;
  flex-direction: column;
}

.cafe_info h2 {
  margin-bottom: 10px;
}

.cafe_info .cafe_info_nick {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ADD COMMENT START */

.comment_cont {
  padding: 20px 0px;
  margin: 20px 0px;
  width: 100%;
  z-index: 1;
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: center;
}

.comment_cont form {
  display: flex;
  flex-direction: column;
}

.comment_cont form label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

.comment_cont form input,
.comment_cont form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comment_cont form button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment_cont h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.comment_cont p {
    margin: 8px 0;
}

.comment_cont .star {
    color: #faaf00;
}

.comment_cont_label_comment {
  width: 100%;
}

.comment_cont_input {
  font-family: 'Montserrat', sans-serif;
  width: auto;
}

.comment_cont {
  flex: 1;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.chosen_product_page .details{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 50px;
    margin-top: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    color: #1f1f1f;
}

.chosen_dish_page .details_comment {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-top: 30px;
  z-index: 1;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.comment_cont_name {
  font-weight: bold;
  font-size: 19px;
  text-transform: capitalize;
  color: #fff;
}

.comment_cont_comment {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 15px;
  color: #fff;
}

.comment_cont_rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white;

}

.white-rating {
  color: white;
}


.star {
  color: #faaf00;
  margin-right: 5px;
}

.submitted_comment{
    /* border-bottom: 1px solid grey; */
        margin-top: 30px;
}

.comment_cont_button {
    width: 100px;
    justify-content: flex-end;
    background: green;
    
}